server {
  listen ${NGINX_PORT};
  server_name ${NGINX_HOST};

  # silence logs
  access_log  off;

  location /api {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://backend:3000;
  }

  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://frontend:4000;
  }
}