#!/usr/bin/env bash

# programming envs
export RBENV_VERSION="3.1.0"
export NODENV_VERSION="16.13.0"
eval "$(nodenv init -)"
eval "$(rbenv init -)"

# development environment
PATH_add bin

# add project ruby binaries to path
PATH_add backend/vendor/bundle/ruby/$RBENV_VERSION/bin

# add project javascript binaries to path
PATH_add frontend/node_modules/.bin

current_dir="$(pwd)"
export PROJECT_ROOT="$current_dir"
export PROJECT_NAME="atomicfarm"
export COMPOSE_PROJECT_NAME="$PROJECT_NAME"

# mysql connection
export MYSQL_DATABASE="atomicfarm"
export MYSQL_USER="atomicfarm"
export MYSQL_PASSWORD="alpine"
export MYSQL_CONNECTION="mysql2://$MYSQL_USER:$MYSQL_PASSWORD@db:3306/$MYSQL_DATABASE"

# redis connection
export REDIS_CONNECTION="redis://redis:6379/0"

# rails encryption key
export SECRET_KEY_BASE="DQtqBFNPcdmMyE7xmYXwnbDcYn6AQVeL33HQbCTGqhcVXKMDMKUfzCBFT8Kz4PECKSR4BzTWeJcHMRCj5tA5sr5bkBq2bKFvmWGfg2cR5pSBd8VW3FRkUNsxV4NBYmzn"



