#!/bin/bash

# development envionment
PATH_add bin

export PROJECT_NAME="atomicfarm"
export COMPOSE_PROJECT_NAME="$PROJECT_NAME"

# backend
export RAILS_ENV=development
export POSTGRES_DATABASE="atomicfarm"
export POSTGRES_USER="atomicfarm"
export POSTGRES_PASSWORD="alpine"
export DATABASE_URL="postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@pg/$POSTGRES_DATABASE"