#!/bin/bash

# development environment
PATH_add bin

export PROJECT_NAME="atomicfarm"
export COMPOSE_PROJECT_NAME="$PROJECT_NAME"

# backend
export MYSQL_DATABASE="atomicfarm"
export MYSQL_USER="atomicfarm"
export MYSQL_PASSWORD="alpine"
export MYSQL_CONNECTION="mysql2://$MYSQL_USER:$MYSQL_PASSWORD@db:3306/$MYSQL_DATABASE"

# for backend encryption, jwt, etc.
export SECRET_KEY_BASE="DQtqBFNPcdmMyE7xmYXwnbDcYn6AQVeL33HQbCTGqhcVXKMDMKUfzCBFT8Kz4PECKSR4BzTWeJcHMRCj5tA5sr5bkBq2bKFvmWGfg2cR5pSBd8VW3FRkUNsxV4NBYmzn"

