# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
*node_modules
*.bundle

# DS_Store
*.DS_Store

# Temp database
*.sqlite3
*.sqlite3-journal


# File uploaded in dev
*storage
!/storage/.keep

# Rails debug histoy
.byebug_history

# Ignore master key for decrypting credentials and more.
*master.key

# Mac zip file cruft
__MACOSX